@font-face {
  font-family: 'SpecialElite';
  src: url('/Fontes/SpecialElite-Regular.ttf') format('truetype');
}
/* global.css */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  position: relative;

  background-image: url('/images/Finn.jpeg');
  background-size: 100%;
  background-position: center 20%;
  background-repeat: no-repeat;
}

.menu-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
}

.menu-container > * {
  position: relative;
  z-index: 1;
}

/* Título */
h1 {
  text-align: center;
  color:rgb(136,126,100);
  font-size: 8rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
  
  transform: translateY(20px);
}

/* Container dos botões */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;

}

/* Botão (arma) */
.botao-arma {
  position: relative;
  width: 400px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;

}

/* Imagem */
.botao-arma img {
  width: 100%;
  display: block;
  mix-blend-mode: screen;
}

/* Texto em cima */
.botao-arma span {
  position: absolute;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%);
  
  color:rgb(177,101,77);
  font-size: 50px;
  font-weight: bold;
  pointer-events: none;
}

/* Hover */
.botao-arma:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

/* Clique (efeito pressionado) */
.botao-arma:active {
  transform: scale(0.92) translateY(2px);
  filter: brightness(0.6);
}

.menu-container {
  font-family: 'SpecialElite',monospace;
}